<app-menu></app-menu>
<div class="container"><h1 style="color:black; text-align: center;">Crear Producto</h1></div>
<hr>
<div class="container" style="width: 55%;">
  <div class="row">
    <div class="col">
      <form [formGroup]="profileForm" (ngSubmit)="fnProduct(profileForm.value)">
        <div class="form-group" style="margin-bottom: 18px;">
          <label for="title">Nombre Producto:</label>
          <em *ngIf="title.invalid && title.touched && title?.errors.required">Campo Requerido</em>
          <input formControlName="title" name="title"  id="title" type="text" class="form-control" placeholder="title.." required />
        </div>

        <div class="form-group" style="margin-bottom: 18px;">
            <label for="description">Descripcion de Producto:</label>
            <em *ngIf="description.invalid && description.touched && description?.errors.required">Campo Requerido</em>
            <input formControlName="description" name="description"  id=" description" type="text" class="form-control" placeholder="Descripcion..." required />
        </div>

        <div class="form-group" style="margin-bottom: 18px;">
          <label for="price">Precio:</label>
          <em *ngIf="price.invalid && price.touched && price?.errors.required">Campo Requerido</em>
          <input formControlName="price" name="price"  id="price" type="number" class="form-control" placeholder="" required />
        </div>

        <div class="form-group" style="margin-bottom: 18px;">
            <label for="imageURL">Imagen URL:</label>
            <em *ngIf="imageURL.invalid && imageURL.touched && imageURL?.errors.required">Campo Requerido</em>
            <input formControlName="imageURL" name="imageURL" id="imageURL" type="text" class="form-control" placeholder="" required/>
        </div>

        <div class="form-group" style="margin-bottom: 18px;">
          <label for="category">Categoria:</label>
          <em *ngIf="category.invalid && category.touched && category?.errors.required">Campo Requerido</em>
          <input formControlName="category" name="category" id="category" class="form-control" multiple  list="drawfemails"/>
        </div>
        <div class ="form-group" style="margin-bottom: 18px;">
          <label for="isEnabled">Disponible:   </label>     
          <input type="checkbox" class="form-check-input" formControlName = "isEnabled" name="isEnabled" id="isEnabled" > 
        </div>
        <datalist multiple id="drawfemails" >
          <option>Boxes</option>
          <option>Entradas</option>
          <option>Calzone</option>
          <option>Llevar</option>
          <option>Pastas</option>
          <option>Pizza</option>
        </datalist>

       
    </form>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-2">
          <button class="btn btn-secondary" type="submit" [disabled]="profileForm.invalid" (click)="fnProduct(profileForm.value)">Agregar</button>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
        </div>
        <div class="col-2">
          <button  class="btn btn-secondary"
          (click)="regresar()"
          >
            Regresar
          </button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
