<app-menu></app-menu>
<div class="container" *ngIf="!isLogged" >
    <div class="row m-4">
      <div class="col-md-7 mx-auto">
        <div class="card">
          <div class="card-header text-center">
            Inicio de Sesión
          </div>
          <div class="card-header text-center">
            <label >Correo Electronico: </label>
            <Input type="email"> 
          </div>
          <div class="card-header text-center">
            <label >PassWord: </label>
            <Input type="password"> 
          </div>
          <button class="btn btn-outline-primary btn-lg btn-block" >
           Registrar</button>
            <button class="btn btn-outline-primary btn-lg btn-block" >
               Iniciar Sesión </button>

          <div class="card-body text-center" >
            <button class="btn btn-outline-danger btn-lg btn-block" (click)="signInWithGoogle()">
              <i class="fab fa-google"></i> Iniciar Sesión con Google</button>
            <button class="btn btn-outline-primary btn-lg btn-block" (click)="signInWithFB()">
              <i class="fab fa-facebook"></i> Iniciar Sesión con Facebook</button>
              <br>
              
          </div>
        </div>
      </div>
    </div>
  </div>