<app-menu></app-menu>
<div class="container" *ngIf="!isLogged" >
    <div class="row m-4">
      <div class="col-md-7 mx-auto">
        <div class="card">
          <div class="card-header text-center">
            Inicio de Sesión
          </div>
          <form #newClaseForm="ngForm"  >
            <div class="card-header text-center">
                <label for="Correo">Correo:</label>
                <em *ngIf="newClaseForm.controls.Correo?.invalid && newClaseForm.controls.Correo?.touched">Campo Requerido</em>
                <input (ngModel)="Correo" name="Correo"  id="Correo" type="text" class="form-control" placeholder="Correo...." required />
            </div>
            <div class="card-header text-center">
                <label for="password">Password:</label>
                <em *ngIf="newClaseForm.controls.password?.invalid && newClaseForm.controls.password?.touched">Campo Requerido</em>
                <input (ngModel)="password" name="password"  id="password" type="text" class="form-control" placeholder="Password..." required />
            </div>
          
            <div class="card-header text-center">
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block" [disabled]="newClaseForm.invalid"  (click)="fnsubmit(newClaseForm.value)" >
              Registrar</button>
            </div>
            <div class="card-header text-center">
              <button class="btn btn-outline-primary btn-lg btn-block" [disabled]="newClaseForm.invalid" (click)="loginu(newClaseForm.value)">
                    Iniciar Sesión </button>
              </div>
           
        </form>
       
          <div class="text-center" >
            <button class="btn btn-outline-danger btn-lg btn-block" (click)="signInWithGoogle()">
              <i class="fab fa-google"></i> Iniciar Sesión con Google</button>
          </div>
          <div class="card-header text-center">
              <button class="btn btn-outline-primary btn-lg btn-block" (click)="signInWithFB()">
              <i class="fab fa-facebook"></i> Iniciar Sesión con Facebook</button>
              <br>
          
          </div>
        </div>
      </div>
    </div>
  </div>