<app-menu></app-menu>
<mat-tab-group headerPosition="above" mat-align-tabs="center" [selectedIndex]="selectedTab">
  <mat-tab label="Boxes">
    <card-component  *ngFor="let product of productos"  [product]="product"></card-component>
  </mat-tab>
  <mat-tab label="Entradas">
    <card-component  *ngFor="let product of productos"  [product]="product"></card-component>
  </mat-tab>
  <mat-tab label="Hot Packs">
    <card-component  *ngFor="let product of productos"  [product]="product"></card-component>
  </mat-tab>
  <mat-tab label="Llevar">
    <card-component  *ngFor="let product of productos"  [product]="product"></card-component>
  </mat-tab>
  <mat-tab label="Pastas">
    <card-component  *ngFor="let product of productos"  [product]="product"></card-component>
  </mat-tab>
  <mat-tab label="Pizza">
    <card-component  *ngFor="let product of productos"  [product]="product"></card-component>
  </mat-tab>
</mat-tab-group>
